h1 {
  background-color: yellow;
}
body {
  background-color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form {
  background-color: blue;
  border: 5px double red;
  width: 300px;
}

.input {
  margin-bottom: 5px;
}
#headdy {
  margin-bottom: 2px;
}
.owl {
  width: 300px;
}
